@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 7%;
}
.body {
    font-family: "Inter", serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Plus Jakarta Sans", serif;
}

.section {
    display: flex;
    box-shadow: 0px 7px 10px rgb(35, 41, 41);
    border-radius: 10px; 
    padding: 30px;
}

.left {
    width: 60%;
    margin-top: 50px;
}
.left p, h1 {
    margin-bottom: 20px;
}
h4 {
    text-transform: uppercase;
    color: rgb(104, 104, 104);
}
.left ul {
    margin-left: 15px;
    font-size: 20px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}
.one {
    height: 200px;
    width: 250px;
    padding: 25px;
    box-shadow: 0px 4px 10px rgb(212, 212, 212);
    border-radius: 10px;
    margin: 10px;
}
.icon {
    height: 50px;
    width: 50px;
}
p {
    font-size: 20px;
}
ul{
    color: rgb(119, 119, 119);
}
.left p {
    color: rgb(119, 119, 119);
}